:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
    margin: 0 auto;
    max-width: 700px;
    min-width: 0;
    padding: 40px 10px 10px 10px;
    font-family: "Helvetica", sans-serif;
    color: #444;
    background-color: #f5deb3;
    display: grid;
    row-gap: 5px;
    grid-template-columns: auto auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
        "header header"
        "ct ct"
        "footer footer"
}
header {
    margin: 0px;
    font-size: 24px;
    grid-area: header;
    justify-self: left;
    align-self: end;
    font-weight:900;
}
article {
    font-size: 16px;
    grid-area: ct;
    border-top: 2px solid gray;
}
h1 {
    font-size: 32px;
    font-weight: 900;
}
h2 {
    font-size: 23px;
    margin-top: 1em;
}
a {
    color: #ff61b6;
}
#about {
    background-color: #2f2b2a;
    color: #f9f9f9;
    padding: 5px 25px 5px;
    margin: 5px 0px 0px 0px;
}
#about h2 {
    color: #ff61b6;
}
#Pulse img {
    width: 33%;
}
#Website img {
    width: 50%;
    border: 2px solid gray;
}
#OpenGL img {
    width: 50%;
}
.gallery img {
    /* margin-left: 10px; */
    margin-right: 10px;
    width: 50%;
    border: 4px solid #2f2b2a;
}
.gallery {
    display: flex;
    justify-content: left;
    align-items: left;
}
.pTitle {
    font-weight: 900;
    width: 100%;
    text-align: left;
    font-size: 24px;
}
#Website h2 {
    margin-bottom: 10px;
}
footer {
    padding-bottom: 10px;
    overflow: auto;
    width: 100%;
    border-top: 2px solid gray;
}
.left {
    float: left;
}
.right {
    float: right;
}
footer a {
    color: #444;
    text-decoration: none;
}
footer a:hover {
    color: #ffa64d;
}
.fa {
    vertical-align: middle;
    padding-top: 1em;
    padding-left: 10px;
    padding-right: 1px;
}
@media screen and (max-width: 430px) {
    body {
        padding-top: 5px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "header"
        "nav"
        "ct"
        "footer"
    }
    header {
        text-align: center;
        justify-self: center;
        font-size: 30px;
    }
    .gallery img {
        margin-left: .1%;
        margin-right: .1%;
    }
}
